*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
  
.main_part{
    height:100%;
    width: 100%;
    background-image: url(https://www.wikitree.com/photo.php/2/2b/McCrystyn-3.jpg);
    opacity: 0.7; 
    /* o 0.4 define a opacidade */
    background-position:center;
    background-size: cover;
    position: absolute;

}

.box_of_all_things{
    width: 380px;
    height: 480px;
  background: #ffffff;
  position: relative;
  margin: 4.5% auto;
  padding: 5px;
  
}

.buttons {
  width:220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 5px #dc143c;
  border-radius: 20px;
}

.button-switch{
  padding: 10px 32px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#button{
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border-radius:30px;
  transition: 0.5s;
}

.form_part{
  top: 180px;
  position:absolute;
  width:280px;
  transition: 0.5s;
}

.input{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right:0;
  border-bottom:1px solid #999;
  outline: none;
  background: transparent;
}

.registerbtn{
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border: 0;
  outline: none;
  border-radius: 30px;
  
}

.checkbox{
  margin: 30px 10px 30px 0;
}
span{
  color: #777;
  font-size: 13px;
  bottom:48px;
  position: absolute;
}

#login{
    left: 50px;
}

#register{
   left: 450px;
}