body{
    font-family: 'Poppins', sans-serif;
    height: 135vh;
    background: linear-gradient(to right top, #244674, #001045);
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu{
    height: 70px;
    width: 200vh;
    padding: 10px 20px;
    background: #fff;
    /*background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4));*/
    z-index: 2;
    backdrop-filter: blur(5rem);
    font-family: 'Poppins', sans-serif;
    /*text-align: center;*/
    position: absolute;
    border-radius: 10px;
    left: 30px;
    top: 20px;
    
}

.produtos{
    background: white;
    height: 700px;
    width: 200vh;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    border-radius: 10px;
    z-index: 1;
    backdrop-filter: blur(5rem);
    display: flex;
    position: absolute;
    top: 130px;
    left: 50px;
}

.section{
    position: absolute;
    display: flex;
    top: 0px;
    left: 0px;
}

.techa_logo{
    position: absolute;
    bottom: 2px;
    left: 70px;
}

.fire{
    position: absolute;
    top: -30px;
    left: 90px;
}

.link{
    position: absolute;
    bottom:20px;
    right: 800px;
}

.link2{
    position: absolute;
    bottom:20px;
    right: 630px;
}

.link3{
    position: absolute;
    bottom:20px;
    right: 460px;
}

.link4{
    position: absolute;
    bottom:20px;
    right: 255px;
}

.user{
    position: absolute;
    bottom:20px;
    right: 55px;
}

.usu{
    position: absolute;
    bottom:0px;
    right: 115px;
}

.endereco {
    display: flex;
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.233));
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 1.5rem 0rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
    /*justify-content: space-between;*/
    position: absolute;
    height:155px;
    width:665px;
    top:60px;
    left:40px;
}

.informacoes_de_endereco {
    /*width: 547.83px;
    margin: 5rem 7rem 5rem;
    justify-content: space-between;*/
    position: absolute;
    display: flex;
    top: 30px;
    left: 80px;
    color: #001045;
}

.nome {
    width: 300px;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(117, 116, 116);
    outline: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
    display: flex;
    position: absolute;
    top: 15px;
    left: 35px;
}

.numero {
    width: 120px;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(117, 116, 116);
    outline: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
    display: flex;
    position: absolute;
    top: 15px;
    left: 375px;
}

.morada {
    width: 300px;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(117, 116, 116);
    outline: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
    display: flex;
    position: absolute;
    top: 65px;
    left: 35px;
}

.apt {
    width: 280px;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(117, 116, 116);
    outline: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
    display: flex;
    position: absolute;
    top: 65px;
    left: 375px;
}

.pais {
    width: 120px;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(117, 116, 116);
    outline: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
    display: flex;
    position: absolute;
    top: 115px;
    left: 35px;
}

.estado {
    width: 160px;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(117, 116, 116);
    outline: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
    display: flex;
    position: absolute;
    top: 115px;
    left: 175px;
}

.cidade {
    width: 130px;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(117, 116, 116);
    outline: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
    display: flex;
    position: absolute;
    top: 115px;
    left: 375px;
}

.postal {
    width: 130px;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(117, 116, 116);
    outline: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
    display: flex;
    position: absolute;
    top: 115px;
    left: 525px;
}

.metodos_pagamento {
    position: absolute;
    display: flex;
    top: 313px;
    left: 80px;
    color: #001045;
}

.pagamento {
    position: absolute;
    display: flex;
    top: 345px;
    left: 40px;
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.233));
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 1.5rem 0rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
    height:185px;
    width:665px;
}

.cartao_img {
    position: absolute;
    display: flex;
    top: 35px;
    left: 40px;
    border-radius: 1rem;
    height:115.5px;
    width:286.5px;
}

.n_cartao {
    width: 280px;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(117, 116, 116);
    outline: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
    display: flex;
    position: absolute;
    top: 155px;
    left: 45px;
}

.paypal {
    position: absolute;
    display: flex;
    top: 35px;
    left: 420px;
    border-radius: 1rem;
}

.confirmar {
    position: absolute;
    display: flex;
    top: 345px;
    left: 830px;
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.233));
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 1.5rem 0rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
    height:185px;
    width:365px;
}

.confirmar_pagamento {
    position: absolute;
    display: flex;
    top: 313px;
    left: 870px;
    color: #001045;
}

.valor {
    position: absolute;
    display: flex;
    top: 7px;
    left: 30px;
    font-size: 25px;
    /*color: #001045;*/
}

.confirmar_btn {
    position: absolute;
    display: flex;
    bottom: 5px;
    right: 40px;
    height: 35px;
    width: 120px;
    padding: 10px 30px;
    margin: 30px auto;
    cursor: pointer;
    /*display: block;*/
    background: linear-gradient(to right top, #284f7a, #3aafff);
    border: 0;
    outline: none;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
}

/*.seguranca {
    position: absolute;
    display: flex;
    top: 345px;
    left: 40px;
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.233));
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 1.5rem 0rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
    height:185px;
    width:165px;
}*/

.seguranca_img {
    position: absolute;
    display: flex;
    top: 87px;
    right: 70px;
    border-radius: 1rem;
}