body{
    font-family: 'Poppins', sans-serif;
    height: 220vh;
    background: linear-gradient(to right top, #244674, #001045);
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu{
    height: 70px;
    width: 200vh;
    padding: 10px 20px;
    background: #fff;
    /*background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4));*/
    z-index: 2;
    backdrop-filter: blur(5rem);
    font-family: 'Poppins', sans-serif;
    /*text-align: center;*/
    position: absolute;
    border-radius: 10px;
    left: 30px;
    top: 20px;
    
}

.produtos{
    background: white;
    height: 1200px;
    width: 200vh;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    border-radius: 10px;
    z-index: 1;
    backdrop-filter: blur(5rem);
    display: flex;
    position: absolute;
    top: 130px;
    left: 50px;
}

.section{
    position: absolute;
    display: flex;
    top: 0px;
    left: 0px;
}

.techa_logo{
    position: absolute;
    bottom: 2px;
    left: 70px;
}

.fire{
    position: absolute;
    top: -30px;
    left: 90px;
}

.link{
    position: absolute;
    bottom:20px;
    right: 800px;
}

.link2{
    position: absolute;
    bottom:20px;
    right: 630px;
}

.link3{
    position: absolute;
    bottom:20px;
    right: 460px;
}

.link4{
    position: absolute;
    bottom:20px;
    right: 255px;
    
}

.user{
    position: absolute;
    bottom:20px;
    right: 55px;
}

.usu{
    position: absolute;
    bottom:0px;
    right: 115px;
}


