* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main_part {
  height: 100%;
  width: 100%;
  background-image: url(https://data.whicdn.com/images/326777733/original.gif);
  opacity: 0.5;
  /* o 0.4 define a opacidade */
  background-position: center;
  background-size: cover;
  position: absolute;
}

.box_of_all_things {
  width: 380px;
  height: 480px;
  background: #ffffff;
  position: relative;
  margin: 4.5% auto;
  padding: 5px;
  overflow: hidden;
}

.buttons_box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 0px #BAB7C4;
  border-radius: 20px;
}

.socials {
  margin: 40px auto;
  text-align: center;
}

.socials img {
  width: 40px;
  margin: 0 12px;
  cursor: pointer;
}

#button {
  top: 0;
  left: 0;
  position: absolute;
  width: 115px;
  height: 100%;
  background: linear-gradient(to right, #BAA692, #F1E0E0);
  border-radius: 20px;
  transition: 0.5s;
}

.button-switch {
  padding: 10px 32px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

.form_part {
  top: 180px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}

.input {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

.loginbtn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: 30px auto;
  background: linear-gradient(to right, #BAA692, #F1E0E0);
  border: 0;
  outline: none;
  border-radius: 30px;
}

.registerbtn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #BAA692, #F1E0E0);
  border: 0;
  outline: none;
  border-radius: 30px;
}

.checkbox {
  margin: 20px 10px 30px 0;
}

span {
  color: #777;
  font-size: 13px;
  bottom: 48px;
  position: absolute;
}

#login {
  left: 50px;
}

#register {
  left: 450px;
}