.mapouter {
    position: relative;
    text-align: right;
    height: 192px;
    width: 364px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 192px;
    width: 364px;
}