*{
    box-sizing: 0;
    padding:0;
    margin:0;
}

body {
    display: flex;
    height: 80em;
}

.review-area {
    margin:auto;
    padding: 0 1em;
    max-width: 1110px;
    text-align: center;
}

.big-title {
    font-size: 5.5 em;
    margin-bottom: 0.5;
    color:;

}

.leave-one{
    font-size: 0.8em;
    font-style: italic;
    color: ;
}

.the-reviews{
    margin: 1em auto;
    display:flex;
    flex-wrap: wrap;
}

.review-one{
    margin: 0 1em;
    flex: 1;
    min-width: 300px;
}

.review-two{
    margin: 0 1em;
    flex: 1;
    min-width: 300px;
}

.review-three{
    margin: 0 1em;
    flex: 1;
    min-width: 300px;
}

.image{
    margin: 1em auto;
    width : 150px;
    height: 150px;
}

img{
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 10px 25px rgb(0, 0, 0, 0.5);
}

.the-actual-review{
    background-color: rgb(0, 0, 0, 0.25);
    padding: 2.5em;
    box-shadow: 2px 2px 10px 3px rgb(225, 225, 225);
}

.name{
    font-size: 1.2em;
    color: rgb(50, 50, 50);
    margin-bottom: 0.30em;

}

.origin{
    color: rgb(50, 50, 50);
    font-style: italic;
}

.rating{
    color: yellow;
    margin: 1em 0;
}

.text{
    line-height: 1.5em;
    letter-spacing: 0.5px;
    color:rgb(150, 150, 150);
}

@media (max-width: 678px) {
    .review-one{
        margin-top: 1.5rem;
    }
}