* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


h1 {
  color: #001045;
  font-weight: 600;
  font-size: 2rem;
  opacity: 0.8;
}

h2 {
  color: #164ca8;
  font-weight: 500;
  opacity: 0.8;
  font-size: 1rem;
}


.main_part {
  height: 100%;
  width: 100%;
  background-image: url(https://steamuserimages-a.akamaihd.net/ugc/581322996074878198/C6520680B9C4419BC9618CA859A5B9A42257B0E6/);
  /* o 0.4 define a opacidade */
  background-position: center;
  opacity: 0.9;
  background-size: cover;
  position: absolute;
}

.box_of_all_things {
  width: 380px;
  height: 500px;
  position: relative;
  margin: 70px 0px 0px 500px;
  padding: 5px;
  overflow: hidden;
  background: white;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
  border-radius: 20px;
  z-index: 2;
  backdrop-filter: blur(5rem);
}

.img_conta {
  position: absolute;
  display: flex;
  top: 80px;
  left: 35px;
  border-radius: 90%;
}

.gestao_h1 {
  position: absolute;
  display: flex;
  top: 100px;
  right: 35px;
  font-size: 30px;
}

#button {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right top, #284f7a, #3aafff);
  transition: 0.5s;
  border-radius: 2rem;

}

.form_part {
  top: 180px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}

.input {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid rgb(117, 116, 116);
  outline: none;
  background: transparent;
  font-family: 'Poppins', sans-serif;

}

.input::placeholder {
  color: rgb(48, 48, 48);
}

.alterarbtn {
  width: 85%;
  padding: 10px 30px;
  margin: 30px auto;
  cursor: pointer;
  display: block;
  /*display: flex;
    position: absolute;
    bottom: -190px;
    left: 18px;*/
  background: linear-gradient(to right top, #284f7a, #3aafff);
  border: 0;
  outline: none;
  border-radius: 30px;
  font-family: 'Poppins', sans-serif;
}

span {
  color: rgb(39, 39, 39);
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  bottom: 58px;
  position: absolute;
}

#gestao {
  left: 50px;
}

#file {
  display: none;
}

#uplaodBtn {
  display: flex;
  position: absolute;
  top: 140px;
  left: 145px;
  color: #001045;
  text-decoration: underline;
}

.go_back {
  width: 45%;
  padding: 8px;
  margin: 50px 0px 0px 160px;
  cursor: pointer;
  display: block;
  background: linear-gradient(to left top, #284f7a, #3aafff);
  border: 0;
  outline: none;
  border-radius: 30px;
  color: rgb(31, 31, 31);
  font-family: 'Poppins', sans-serif;
}